* {
    margin: 0;
    padding: 0;
}

html, body, #container {
    height: 100%;
}

#container {
	display: grid;
	grid-template-columns: 400px auto;
	grid-template-rows: auto;
}

#sidebar-container {
	display: grid;
	grid-template-rows: 2.5em auto 2.5em;                                       /* If you change these values, make sure to change resizeContainers in window.ts as well*/
}

#sidebar-top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#sidebar-content {
	overflow-y: scroll;
	max-height: 800px;
}

.subreddit {
	margin-bottom: 10%;
}

.banner-img {
	width: 100%;
}

.subreddit-info {}

.subreddit-name {
	font-size: 1.5em;
	font-weight: bold;
}

.subreddit-subs {
	margin-left: 10%;
	margin-right: 10%;
}

.subreddit-online {
	color: green;
}

#user-indicator {
	display: grid;
}

#main-container {
	display: grid;
	grid-template-rows: 2.5em auto;                                             /* If you change these values, make sure to change resizeContainers in window.ts as well*/
}

#main-top {
	display: grid;
}

#main-content {
    overflow-y: scroll;
	max-height: 800px;
}

.post-header {
    display: grid;
    min-height: 7.5em;
    margin-bottom: 5px;
    grid-template-columns: 50px auto;
}

.votes {
    display: grid;
    height: 6em;
    align-self: center;
}

.upvote-button {
    height: 2em;
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.vote-counter {
    font-size: 2em;
    text-align: center;
}

.downvote-button {
    height: 2em;
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.post-header-content {
    min-height: 7.5em;
    background-color: #bfbfbf;
}

.post-time {
    font-weight: bold;
}

.post-user {
    color: #7f7f7f;
}

.user-flair {
    color: #ffffff;
    background-color: #7f7f7f;
}

.post-title {
    font-size: 2em;
    font-weight: bold;
}

.post-flair {
    color: #ffffff;
    background-color: #ff0000;
}
