:root {

	/* Global variables */

	--default-background-color: #EBEBEB;
	--default-separator-color: #D2D2D2;

}

* {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;
}

html, body, #container {
	height: 100%;
}

#container {
	display: grid;
	grid-template-columns: 400px auto;
	grid-template-rows: auto;
	grid-column-gap: 0.05em;

	background-color: var(--default-separator-color);
}

#sidebar-container {
	display: grid;
	grid-template-rows: 3.5em auto 3.5em;                                       /* If you change these values, make sure to change resizeContainers in window.ts as well*/
	grid-row-gap: 0.05em;

	background-color: var(--default-separator-color);
}

#sidebar-top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: var(--default-background-color);
}

#subreddits-button {
	vertical-align: middle;
}

#pm-button {
	vertical-align: middle;
}

#sidebar-content {
	overflow-y: scroll;
	max-height: 800px;

	background-color: var(--default-background-color);
}

.subreddit {
	margin-bottom: 10%;
}

.banner-img {
	width: 100%;
}

.subreddit {

	/* Variables for subs */

	--subreddit-name-color: #323232;
	--subreddit-subs-color: #555555;
	--subreddit-stats-divider-color: #D2D2D2;
	--subreddit-online-color: #42AF00;

	--subreddit-stats-spacing: 0.5em;

}

.subreddit-info {

	padding: 0.6em 1.5em 0.6em 1.5em;

}

.subreddit-top {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	padding-bottom: 0.6em;
}

.subreddit-name-sidebar {
	text-align: center;

	font-size: 1.7em;
	font-weight: bold;

	color: var(--subreddit-name-color);
}

.subreddit-stats {
	text-align: center;

	font-size: 1em;
	font-weight: bold;
}

.subreddit-stats-subs {
	border-right: 0.05em solid var(--subreddit-stats-divider-color);
	padding-right: var(--subreddit-stats-spacing);

	color: var(--subreddit-subs-color);
}

.subreddit-stats-online {
	padding-left: var(--subreddit-stats-spacing);

	color: var(--subreddit-online-color);
}

.subreddit-description {
	grid-column: span 3;

	text-align: justify;
	text-justify: inter-character;
}

#user-indicator {

	/* Variables for user indicator */

	--user-text-color: #555555;

	display: flex;
	justify-content: center;
	align-items: center;
}

.user-image {
	height: 2.5em;
	width: 2.5em;

	margin-right: 1em;
}

.user-name {
	color: var(--user-text-color)
}

.user-karma {
	color: var(--user-text-color);

	font-weight: bold;
}

#main-container {
	display: grid;
	grid-template-rows: 3.5em auto;                                             /* If you change these values, make sure to change resizeContainers in window.ts as well*/
	grid-row-gap: 0.05em;

	background-color: var(--default-separator-color);
}

#main-top {
    display: grid;
    grid-template-columns: 5em auto auto;
    align-content: center;

	background-color: var(--default-background-color);
}

#subreddit-icon-container {
	text-align: center;
}

#subreddit-icon {
    height: 2em;
    width: 2em;
    display: inline-block;
}

#subreddit-info {
	display: flex;
	align-items: center;
}

#subreddit-name-topbar {
    font-size: 1.5em;
    font-weight: bold;

    display: inline-block;
}

#subreddit-sorting-label {
	margin-left: 1em;

    display: inline-block;
}

#subreddit-sorting {
	margin-left: 0.5em;

    font-weight: bold;

    display: inline-block;
}

#main-content {
	overflow-y: scroll;
	max-height: 800px;

	background-color: var(--default-background-color);
}

.post-header {

	/* Variables for posts */

	--post-vote-count-color: #939393;
	--post-header-text-color: #555555;
	--post-header-background-color: #E1E1E1;

	display: grid;
	margin-bottom: 0.5em;
	grid-template-columns: 5em auto;
}

.votes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.upvote-button {}

.vote-counter {
	text-align: center;

	color: var(--post-vote-count-color);
	
	font-weight: bold;
	font-size: 1.5em;

	line-height: 1.6em;
}

.downvote-button {}

.post-header-content {
	padding: 1em;
	border-radius: 0.5em;

	color: var(--post-header-text-color);
	background-color: var(--post-header-background-color) !important;

    display: grid;
    grid-template-rows: auto;
    align-content: center;
}

.post-header-line1 {

	/* Variables for post header line 1 */

	--post-header-spacing: 1em;

	--post-time-spacing: 0.8em;
	--post-time-divider-color: #565656;
	--post-time-text-color: #656565;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	background-color: var(--post-header-background-color);
}

.clock-icon {
    display: inline;
    height: 1em;
}

.post-time {
	border-right: 0.05em solid var(--post-time-divider-color);;
	margin-left: 0.3em;
	padding-right: var(--post-time-spacing);

	color: var(--post-time-text-color);
	font-weight: bold;
}

.post-user {
	padding-left: var(--post-time-spacing);

	color: #7f7f7f;
}

.user-flair {
	margin-left: 0.4em;

	padding: 0.1em 0.3em;
	border-radius: 0.3em;

	color: #ffffff;
	background-color: #7f7f7f;
}

.post-header-line2 {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	background-color: var(--post-header-background-color);
}

.post-title {
	font-size: 2em;
	font-weight: bold;
}

.post-flair {
	margin-left: 0.4em;

	padding: 0.1em 0.3em;
	border-radius: 0.3em;

	color: #ffffff;
	background-color: #ff0000;
}

.post-header-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	background-color: var(--post-header-background-color);
}

.post-header-button {
    display: inline-block;

	margin-left: 0.5em;
}

.post-header-button:nth-child(1) {
	margin-left: 0;
}

.post-header-button-first {
	margin-right: auto;
}
