* {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;

	background-color: #EBEBEB;
}

html, body, #container {
	height: 100%;
}

#container {
	display: grid;
	grid-template-columns: 400px auto;
	grid-template-rows: auto;
}

#sidebar-container {
	display: grid;
	grid-template-rows: 2.5em auto 2.5em;                                       /* If you change these values, make sure to change resizeContainers in window.ts as well*/
}

#sidebar-top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#subreddits-button {
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
}

#pm-button {
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
}

#notifications-button {
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
}

#sidebar-content {
	overflow-y: scroll;
	max-height: 800px;
}

.subreddit {
	margin-bottom: 10%;
}

.banner-img {
	width: 100%;
}

.subreddit {

	/* Variables for subs */

	--subreddit-name-color: #323232;
	--subreddit-subs-color: #555555;
	--subreddit-stats-divider-color: #D2D2D2;
	--subreddit-online-color: #42AF00;

	--subreddit-stats-spacing: 0.5em;

}

.subreddit-info {

	padding: 0.6em 1.5em 0.6em 1.5em;

}

.subreddit-top {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	padding-bottom: 0.6em;
}

.subreddit-name-sidebar {
	text-align: center;

	font-size: 1.7em;
	font-weight: bold;

	color: var(--subreddit-name-color);
}

.subreddit-stats {
	text-align: center;

	font-size: 1em;
	font-weight: bold;
}

.subreddit-stats-subs {
	border-right: 0.05em solid var(--subreddit-stats-divider-color);
	padding-right: var(--subreddit-stats-spacing);

	color: var(--subreddit-subs-color);
}

.subreddit-stats-online {
	padding-left: var(--subreddit-stats-spacing);

	color: var(--subreddit-online-color);
}

.subreddit-description {
	grid-column: span 3;

	text-align: justify;
	text-justify: inter-character;
}

#user-indicator {
	display: grid;
	justify-content: center;
	grid-template-columns: 2.5em auto;
}

.user-image {
	height: 2.5em;
	width: 2.5em
}

.user-name {
	color: #7f7f7f
}

.user-karma {
	font-weight: bold;
}

#main-container {
	display: grid;
	grid-template-rows: 2.5em auto;                                             /* If you change these values, make sure to change resizeContainers in window.ts as well*/
}

#main-top {
    display: grid;
    grid-template-columns: 3em auto auto;
    align-content: center;
}

.subreddit-icon {
    height: 2em;
    width: 2em;
    display: inline-block;
}

.subreddit-name-topbar {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}

.subreddit-sorting-label {
    display: inline-block;
}

.subreddit-sorting {
    font-weight: bold;
    display: inline-block;
}

#main-content {
	overflow-y: scroll;
	max-height: 800px;
}

.post-header {

	/* Variables for posts */

	--post-header-text-color: #555555;
	--post-header-background-color: #E1E1E1;

	display: grid;
	margin-bottom: 0.5em;
	grid-template-columns: 4em auto;
}

.votes {
    /*
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    */
    display: grid;
    grid-template-rows: 2em 2.5em 2em;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.upvote-button {
	height: 2em;
}

.vote-counter {
	text-align: center;
	font-size: 2.5em;
}

.downvote-button {
	height: 2em;
}

.post-header-content {
	padding: 1em;
	border-radius: 0.5em;

	color: var(--post-header-text-color);
	background-color: var(--post-header-background-color);
    display: grid;
    grid-template-rows: 1em 2em 1em;
    align-content: center;
}

.post-header-line1 {}

.clock-icon {
    display: inline;
    height: 1em;
}

.post-time {
	font-weight: bold;
}

.post-user {
	color: #7f7f7f;
}

.user-flair {
	color: #ffffff;
	background-color: #7f7f7f;
}

.post-header-line2 {}

.post-title {
	font-size: 2em;
	font-weight: bold;
}

.post-flair {
	color: #ffffff;
	background-color: #ff0000;
}

.post-header-buttons {}

.post-header-button {
    display: inline-block;
}
